# ====================
# Server
# ====================
gunicorn
Django>=1.4



# ====================
# Authentication
# ====================
django-social-auth



# ====================
# Templating
# ====================
django-jstemplate
django-crispy-forms



# ====================
# Database
# ====================
south
psycopg2



# ====================
# Subscriptions App
# ====================
django-jsonfield
djangorestframework  # (optional) For the HTTP API
django-sendsms  # (optional) For SMS notifications



# =====================
# Feeds (optional)
# =====================
feedparser
python-dateutil
