{% extends "base.html" %}
{% load url from future %}

{% block content %}
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Subscribe.Me</h1>
                <p>Subscribe to any RSS and ATOM feeds by email, SMS, or by whatever delivery method you prefer.</p>
                <p><a href="{% url 'subscription_list' %}" class="btn primary large">Get Started &raquo;</a></p>
            </div>
{% endblock content %}
