<!--                    <form action="" class="pull-right">-->
<!--                        <input class="input-small" type="text" placeholder="Username">-->
<!--                        <input class="input-small" type="password" placeholder="Password">-->
<!--                        <button class="btn" type="submit">Sign in</button>-->
<!--                    </form>-->

{% if user.is_authenticated %}
    <p class="pull-right">Logged in as <a href="#">{{ user.username }}</a> | <a href="{% url 'logout' %}">Log out</a></p>
{% else %}
    <p class="pull-right"><a href="{% url 'login' %}">Log in</a></p>
{% endif %}
